@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;0,800;1,100&display=swap");
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

main .bienvenidos h2, .perfil h2, .login-titulo h2, .crear-perfil-titulo, .contactanos-body .tit-contactanos h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #64360c;
  padding: 5px; }

main .hero div p, main .bienvenidos p, .lista-perfil li, .login .login-intro p, .form-perfil .form-label, .contactanos-body .contactanos p, .contactanos-body .formulario-contacto .form-label, footer p {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 200;
  font-style: normal;
  color: #8b5e34;
  margin: 10px; }

header {
  position: sticky;
  top: 0;
  padding: auto;
  z-index: 10; }
  header .navbar {
    padding: 0; }
    header .navbar div {
      background-color: #f7f4f4; }
      header .navbar div a {
        font-size: 40px;
        font-family: 'Poppins ', sans-serif;
        color: #2A0800;
        width: auto; }
        header .navbar div a:hover {
          color: #8b5e34; }
      header .navbar div div ul li a {
        font-style: normal;
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        color: #b08968;
        margin: 20px 10px 20px 10px; }
      header .navbar div div .d-flex input {
        border-color: #271703; }
      header .navbar div div .d-flex button {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        color: #b08968;
        border-color: #583101; }
        header .navbar div div .d-flex button:hover {
          background-color: #b08968;
          border-color: #583101; }

main {
  background-color: #F4F2F3; }
  main .hero {
    background-image: url(../img/book3.jpeg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    main .hero div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      margin: 10px; }
      main .hero div h2 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        color: #64360c; }
    main .hero .boton {
      display: inline-block;
      background-color: #ede0d4de;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.5);
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #2A0800; }
      main .hero .boton:hover {
        color: #8b5e34; }
  main .grupos-populares-titulo h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #583101; }
  main .grupos-populares-cards {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap; }
    main .grupos-populares-cards .grupo-popular {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 40px; }
      main .grupos-populares-cards .grupo-popular .carousel {
        width: 200px;
        height: 323px; }
    main .grupos-populares-cards .d-block {
      width: 200px;
      height: 323px;
      padding: 10px; }
    main .grupos-populares-cards h3 {
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 390;
      font-size: 20px;
      color: #583101; }
    main .grupos-populares-cards .boton-grupos {
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #2A0800;
      text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.35); }
      main .grupos-populares-cards .boton-grupos:hover {
        color: #8b5e34; }

.body-perfil {
  background-image: url(../img/fondo-perfil.png);
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover; }

.perfil h2 {
  padding: 30px;
  font-size: 50px; }

.perfil-imagen-perfil {
  width: 300px;
  height: 300px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px; }

.list-group-flush {
  border-top: none;
  margin-bottom: 0;
  margin-right: 400px; }

.lista-perfil li {
  background-color: rgba(255, 255, 255, 0);
  padding: 4px; }

.login {
  background-color: #F4F2F3; }
  .login .ingreso-perfil {
    background-image: url(../img/fondo-login.jpeg);
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .login .ingreso-perfil-titulo h3 {
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    color: #583101; }
  .login .formu-login {
    border-width: 1px;
    border-style: solid;
    border-color: #271703;
    border-radius: 10px;
    display: inline-block;
    margin: 60px;
    padding: 40px;
    box-shadow: 10px 6px 19px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 6px 19px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 6px 19px 0px rgba(0, 0, 0, 0.5); }
    .login .formu-login div label {
      font-family: 'Poppins', sans-serif;
      font-size: 30px;
      font-weight: 400;
      font-style: normal;
      color: #b08968;
      padding: 15px; }
  .login .ingreso-perfil-login .boton-login {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #271703;
    margin-top: 20px;
    display: flex;
    justify-content: space-between; }
    .login .ingreso-perfil-login .boton-login:hover {
      color: #8b5e34; }
    .login .ingreso-perfil-login .boton-login a {
      background-color: #dbbca241;
      padding: 5px;
      border-radius: 10px;
      box-shadow: 10px 6px 19px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 10px 6px 19px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 10px 6px 19px 0px rgba(0, 0, 0, 0.5); }

.generos {
  background-color: #F4F2F3; }

.ingreso-generos {
  background-image: url(../img/fondo-generos.jpeg);
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.ingreso-generos-titulo h2 {
  /* margin-left: 10px; */
  padding: 10px;
  font-size: 45px;
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  color: #583101; }

.ingreso-generos-titulo h2 {
  margin-left: 10px;
  padding: 15px; }

.ingreso-generos-titulo p {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 200;
  font-style: normal;
  color: #8b5e34;
  margin: 10px; }

.grid-generos {
  width: 80%;
  margin-top: 50px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  gap: 15px;
  justify-content: center; }
  .grid-generos div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .grid-generos .img-1 {
    grid-column: span 2; }
  .grid-generos .img-8 {
    grid-row: span 2; }
  .grid-generos .img-9 {
    grid-column: span 2; }
  .grid-generos .grid-generos-imagen {
    position: relative;
    box-shadow: 7px 9px 14px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 9px 14px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 9px 14px -8px rgba(0, 0, 0, 0.75);
    transition: 0.5s; }
    .grid-generos .grid-generos-imagen:hover {
      transform: scale(1.1); }
    .grid-generos .grid-generos-imagen img {
      width: 400px;
      height: 350px;
      object-fit: cover; }
    .grid-generos .grid-generos-imagen h3 {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: #2717037e;
      color: #fffefd;
      font-size: 20px;
      text-align: center;
      font-weight: 400;
      margin: 0; }

.crear-perfil-titulo {
  padding: 30px; }

.form-perfil {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px; }

.btn-light {
  background-color: #d49c6650;
  box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.5);
  border-color: #d49c6650;
  font-family: 'Poppins', sans-serif;
  color: #64360c; }

.contactanos-body {
  background-image: url(../img/fondo-contactanos.png);
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover; }
  .contactanos-body .contactanos-imagen {
    background-image: url(../img/header-perfil.jpeg);
    width: 100%;
    height: 280px; }
  .contactanos-body .tit-contactanos h2 {
    margin: 20px;
    padding: 10px; }
  .contactanos-body .formulario-contacto div {
    padding: 10px;
    margin-left: 50px;
    margin-right: 200px; }
  .contactanos-body .formulario-contacto .btn-light {
    background-color: #d49c6650;
    box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 2px 12px 1px rgba(0, 0, 0, 0.5);
    border-color: #d49c6650;
    font-family: 'Poppins', sans-serif;
    color: #64360c; }
    .contactanos-body .formulario-contacto .btn-light:hover {
      color: #8b5e34; }

footer {
  background-color: #f0ece8; }
  footer .footer {
    display: flex;
    justify-content: end;
    padding: 5px; }
    footer .footer a img {
      width: 40px;
      height: 40px;
      padding: 5px; }
  footer p {
    margin: 5px; }

@media screen and (max-width: 990px) {
  .grid-generos {
    margin-left: 80px; } }

@media screen and (max-width: 950px) {
  .grid-generos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 320px; }
    .grid-generos .grid-generos-imagen {
      grid-column: span 1;
      grid-row: span 1; } }

@media screen and (max-width: 880px) {
  .perfil-imagen {
    margin-left: 40px; }
  .list-group-flush {
    margin-right: 300px; }
    .list-group-flush .list-group-item {
      padding: 30px;
      font-size: 14px; } }

@media screen and (max-width: 780px) {
  header div a {
    /* font-weight: 700; */
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: #2A0800;
    /* margin: 15px; */ }
    header div a header nav div ul li a {
      font-style: normal;
      /* font-weight: 400; */
      font-size: 20px;
      font-family: 'Poppins', sans-serif;
      color: #b08968;
      margin: 20px 10px 20px 10px; } }

@media screen and (max-width: 730px) {
  .ingreso-perfil-login {
    margin-left: 40px; }
  .formulario-contacto div {
    padding: 7px;
    margin-left: 35px;
    margin-right: 100px; }
  .form-perfil {
    margin-left: 70px;
    margin-right: 70px; }
  .list-group-item {
    font-size: 10px; } }

@media screen and (max-width: 700px) {
  .grid-generos {
    margin-left: 60px; }
  .ingreso-perfil-login div label {
    font-size: 25px;
    padding: 10px; } }

@media screen and (max-width: 660px) {
  .list-group-flush {
    margin-right: 200px; } }

@media screen and (max-width: 640px) {
  .ingreso-perfil-login {
    margin: 40px;
    padding: 30px; }
    .ingreso-perfil-login .ingreso-perfil-login div label {
      font-size: 20px;
      padding: 8px; } }

@media screen and (max-width: 600px) {
  .perfil-imagen {
    margin-left: 50px; } }

@media screen and (max-width: 590px) {
  .grid-generos {
    grid-template-columns: 1fr;
    /* grid-template-rows: 320px; */ }
    .grid-generos .grid-generos-imagen {
      grid-column: span 1;
      grid-row: span 1; } }

@media screen and (max-width: 580px) {
  .crear-perfil-titulo {
    font-size: 35px; } }

@media screen and (max-width: 530px) {
  .boton-login {
    font-size: 20px;
    /* font-weight: 700;
        margin-top: 20px; */ }
    .boton-login .boton-login a {
      padding: 2px;
      border-radius: 7px; } }

@media screen and (max-width: 500px) {
  .grid-generos {
    margin-left: 40px; } }

@media screen and (max-width: 545px) {
  .ingreso-perfil-login {
    margin: 40px;
    padding: 20px; } }

@media scree and (max-width: 300px) {
  .ingreso-perfil-login {
    margin-left: 20px; }
  .formulario-contacto div {
    padding: 5px;
    margin-left: 25px;
    margin-right: 80px; }
  .form-perfil {
    margin-left: 50px;
    margin-right: 50px; } }
